{% extends "bootstrap/base.html" %}
<div class="container-fluid">
  <div class="row content">
    {% block navbar %}
    <div class="col-sm-3 sidenav">
      <h2>Microblog</h2>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('explore') }}">Explore</a></li>
        {% if current_user.is_anonymous %}
        <li><a href="{{ url_for('auth.login') }}">Login</a></li>
        {% else %}
        <li><a href="{{ url_for('user', username=current_user.username) }}">Profile</a></li>
        <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
        {% endif %}
      </ul>
      {% if g.search_form %}
      <form class="navbar-form navbar-left" method="get"
              action="{{ url_for('search') }}">
          <div class="form-group">
              {{ g.search_form.q(size=20, class='form-control',
                  placeholder=g.search_form.q.label.text) }}
          </div>
      </form>
      {% endif %}
    </div>
    {% endblock %}
    {% block content %}
    <div class="col-sm-6">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
          {% for message in messages %}
          <li class="list-group-item list-group-item-info">{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      {% endwith %}
      {% block blog %}
      {% endblock %}
    </div>
    {% endblock %}
  </div>
</div>

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {{ moment.lang(g.locale) }}

    <script>
      function translate(sourceElem, destElem, sourceLang, destLang) {
          $.post('/translate', {
              text: $(sourceElem).text(),
              source_language: sourceLang,
              dest_language: destLang
          }).done(function(response) {
              $(destElem).text(response['text'])
          }).fail(function() {
              $(destElem).text("{{ _('Error: Could not contact server.') }}");
          });
      }
      $(function () {
            var timer = null;
            var xhr = null;
            $('.user_popup').hover(
                function(event) {
                    // mouse in event handler
                    var elem = $(event.currentTarget);
                    timer = setTimeout(function() {
                        timer = null;
                        xhr = $.ajax(
                            '/user/' + elem.first().text().trim() + '/popup').done(
                                function(data) {
                                    xhr = null;
                                    elem.popover({
                                        trigger: 'manual',
                                        html: true,
                                        animation: false,
                                        container: elem,
                                        content: data
                                    }).popover('show');
                                    flask_moment_render_all();
                                }
                            );
                    }, 250);
                },
                function(event) {
                    // mouse out event handler
                    var elem = $(event.currentTarget);
                    if (timer) {
                        clearTimeout(timer);
                        timer = null;
                    }
                    else if (xhr) {
                        xhr.abort();
                        xhr = null;
                    }
                    else {
                        elem.popover('destroy');
                    }
                }
            );
        });
  </script>

{% endblock %}